* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plain Light";
    color: #FFFFFF;
}
/* #0B0B0B */
html,body {
    height: 100%;
    width: 100%;
}
#cursor {
    height: 3.2vh;
    width: 2vw;
    /* background-color: white; */
    border: 1px solid whitesmoke;
    border-radius: 50%;
    position: fixed;
    z-index: 9999;
    mix-blend-mode: difference;
    transform: translate(-50%,-50%);
}
#loader {
    /* border: 5px solid orange; */
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 99;
    background-color: #0B0B0B;
    padding: 20vh 5vw;
}
.line {
    /* background-color: white; */
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8vw;
}
.line h1 {
    font-size: 7vw;
    text-transform: uppercase;
    font-weight: 900;
    
}
#part1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    margin-left: 4vw;
    margin-top: -1.5vw;
}

#part1 h5,h6 {
    font-size: 4vw;
    font-family: 'silk serif';
    font-weight: 100;
}
 
#part1 h6 {
      /* background-color: darkcyan; */
       width: 6vw;
       text-align: right;
}
.line h2 {
    font-size: 5.3vw;
    text-transform: uppercase;
    margin-left: -1vw;
    animation-name: anime1;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    opacity: 0;
}
@keyframes anime1{
     0% {
        font-family: "plain light";
        opacity: 0;
        font-weight: 500;
        color: #fff;
        -webkit-text-stroke: 2px #fff;
     }
     47% {
        font-family: "plain light";
        opacity: 1;
        font-weight: 500;
        color: #fff;
        -webkit-text-stroke: 2px #fff;
     }
    50% {
        font-family: "silk serif";
        opacity: 0;
        font-weight: 500;
        color: transparent;
        -webkit-text-stroke: 2px #fff;
     }
     100% {
        font-family: "silk serif";
        opacity: 1;
        font-weight: 500;
        color: transparent;
        -webkit-text-stroke: 2px #fff;
     }
}

#main {
    position: relative;
    background-color: #151515;
}

#page1 {
    height: 100vh;
    width: 100%;
    background-color: #151515;
    position: relative;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6vh 5.5vw;
}
#navpart2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
}

.centerText {
   
    /* background-color: aqua; */
    margin-left: 28vw;
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.centerText:nth-child(2) {
    margin-top: 15vh;
}
.centerText h1 {
    font-size: 7.5vw;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 14vh;
}
 #num::before {
    content: "01";
    font-size: 3.2vw;
    font-family: "silk serif";
    font-weight: 500;
    position: absolute;
    top: 30.2vh;
    left: 18vw;
}

.centerText  h2 {
    font-size: 7.5vw;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 14vh;
    border-bottom: .5vw solid #fff;
     padding-bottom: .8vw;
     transition: all ease .3 ;  
    }

.centerText h2:hover {
      -webkit-text-stroke: 1px #fff;
      color: transparent;
      font-weight: 500;
      border-bottom: .5vw solid black;
      }

#page2 {
    height: 100vh;
    width: 100%;
    background-color: #151515;
    position: relative;
    padding-top: 10vh;
}
#video-container {
    margin-top: -15vh;
    height: 55vh;
    width: 72vw;
    position: relative;
    left: 28vw;
    background-image: url(https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg);

}
#video-container img {
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    top: 0;
}
#video-container video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
}
#video-cursor {
    background-color: #FFA63C;
    height: 10vw;
    width: 10vw;
    border-radius: 50%;
    position: absolute;
    z-index: 999;
    top: -14%;
    left: 70%;
    display: flex;
    align-items: center;
    justify-content: center;

}
#video-cursor i {
    font-size: 3vw;
}

#page3 {
    min-height: 100vh;
    width: 100%;
    background-color: rgb(29, 52, 183);
}

#page4 {
    min-height: 100vh;
    width: 100%;
    background-color: #151515;
    position: relative;
    padding-top: 5vh;
}

#page4-content {
    background-color: #151515;
    width: 72vw;
    position: relative;
    left: 28vw;
}

#page4-content h1{
    text-transform: uppercase;
    font-size: 7.5vw;
    margin-bottom: 10vh;
    position: relative;
}
#page4-content h1::before {
    content: "03";
    font-size: 3.2vw;
    font-family: "silk serif";
    font-weight: 100;
    position: absolute;
    top: 1.2vh;
    left: -10vw;

}

.underline {
    height: .2vh;
    width: 100%;
    background-color: #ffffff;
    margin-bottom: 6vh;
}

#page4-content>p {
    font-size: 2.3vw;
    width: 40vw;
    margin-bottom: 8vh;
}
#page4-content #image {
    height: 70vh;
    width: 72vw;
    display: flex;
    gap: 2vw;
}

#page4-content img {
    height: 100%;
    width: 44%;
    object-fit: cover;
}
#image p {
    font-size: 1.1vw;
    width: 20vw;
    line-height: 3vh;
}
#blue-box {
    /* height: 85vh; */
    width: 33vw;
    background-color: #3F7DF4;
    position: relative;
    top: -26vh;
    left: 22vw;
    padding: 3vw;
}

.blue-box-content {
   
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
    /* background-color: red; */
    padding: 2vw 0;
    
}

.blue-box-content h4 {
        font-size: 1.7vw;
        font-weight: 500;
}
.blue-box-content p {
        padding: 1vw;
        font-size: 1vw;
        width: 40%;
}

#page5 {
   min-height: 100vh;
   width: 100%;
   background-color: #151515;
   position: relative;
}

.elem {
      /* background-color: red; */
      white-space: nowrap;
      overflow-x: auto;
      margin-bottom: -2vw;
}

.elem h1 {
    /* background-color: rgb(149, 130, 130); */
    font-size: 7vw;
    font-weight: 400;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    display: inline-block;
    margin-right: 16px;
    animation-name: anime;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}
 @keyframes anime {
    from {
      transform: translateX(0);
    }
    to {
        transform: translateX(calc(-100% - 20px));
    } 
}

.elem2 {
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: hidden;
    margin-bottom: -2vw;
}

.elem2 h1 {
  /* background-color: rgb(149, 130, 130); */
  font-size: 8vw;
  font-weight: 400;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  display: inline-block;
  margin-right: 16px;
  transform: translateX(-100% - 20px);
  animation-name: anime;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}

#page5-content  h1 span {
    font-style: italic;
    font-family: "silk serif";
    color: transparent;
    -webkit-text-stroke: 1px #fff;
}

#footer{
    min-height: 80vh;
    width: 100%;
    background-color: #151515;
    position: relative;

}
#footer-content {
    height: inherit;
    width: 67vw;
    margin-left: 28vw;
    /* background-color: rgb(224, 95, 9); */
}
#footer-content h1 {
    font-size: 7vw;
    text-transform: uppercase;
    margin-bottom: 10vh;
    position: relative;
}
#box {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    /* background-color: #3F7DF4; */
    margin: 13.5vh 5vw 14vh 0;
}

#box h6 {
    font-family:normal;
    font-size: 1.4vw;
    margin-bottom: 2vh;
}
#box h5 {
    font-size: 1.7vw;
}

#footer h4 {
    margin-top: -3vh;
}

#footer-content h1::before {
    content: "04";
    font-size: 3vw;
    font-family: "silk serif";
    font-weight: 100;
    position: absolute;
    top: 1vh;
    left: -10vw;

}